:root {
    --black: #224;
    --red: #f84008; /*#ea492d;*/
    --orange: rgb(255,224,193);
    --white: rgb(252, 255, 248);
    --blue: rgb(144, 218, 160);

    --logo-size: calc(4.5 * (8px + 0.5vw));
    --header-size: 3rem;
}

html {
    font-size: calc(70% + 0.4vw);
    font-family: sans-serif;
    color: var(--black);
}

body {
    background: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background: var(--orange);
    height: var(--header-size);
    position: fixed;
    padding-bottom: 0.25rem;
    top: 0;
    width: 100%;

    align-items: flex-end;
    display: flex;
}

footer {
    background-color: var(--black);
    height: 4rem;
    width: 100%;
}

nav {
    padding-left: calc(var(--logo-size) * 0.7);
    display: flex;
    flex-direction: row;
}

main {
    flex-grow: 1;
    margin: 0.3rem auto 0 0;
}

section {
    margin: 0 auto 1rem;
}

ul {
    margin-left: 1rem;
}

li {
    /* list-style-image: url(../img/dia.svg); */
    margin-bottom: 0.4rem;
}

/*
dt {
    float: left;
    clear: both;
    width: 1.5rem;
    height: 1.4rem;
    vertical-align: middle;
}

dd {
    margin-left: 1.5rem;
}
*/

h1 {
    font-size: 2rem;
    width: 100%;
    /* border-bottom: 0.05rem solid var(--black); */
    margin-bottom: 0.2rem;
}

h1::before {
    content: "";
    display: inline-block;
    background-image: url(../img/colon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: sub;
    height: 2rem;
    width: 0.7rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

h2::before {
    content: "";
    display: inline-block;
    background-image: url(../img/dot.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: sub;
    height: 1.5rem;
    width: calc(0.7rem * 0.75);
}

a {
    color: var(--red);
}

p {
    margin-bottom: 0.2rem;
}


.basement {
    margin: var(--header-size) 0 0;
}

.eye-catch {
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem 0.2rem #615f76;
    display: block;
    width: 100%;
    margin: 1rem 0;
}

.contents-area {
    max-width: 960px;
    width: 96%;
    margin: 0 auto;
}

.description-tag {
    line-height: 1.2rem;
    vertical-align: middle;
}

.indent {
    padding-left: 1.5rem;
}

.nav-item {
    height: calc(6px + 2.5vw);
    max-height: 36px;
}

.nav-spacer {
    /* min-width: 1px; */
    /* max-width: 4.5px; */
    /* width: calc((6px + 2.5vw) * 0.08); */
    margin: auto 0.8rem auto;
    /* background-color: var(--black); */
}

.zipper {
    background-image: url("../img/zipper_teeth.svg");
    background-size: contain;
    background-repeat: repeat-y;
    width: var(--logo-size);
    min-width: var(--logo-size);
    margin-right: calc(var(--logo-size) * -0.3);
    min-height: calc(100vh - var(--logo-size) - 4rem);
}

.zipper__logo {
    position: fixed;
    top: calc(var(--header-size) - 115 * var(--logo-size) / 195);
    width: var(--logo-size);
    margin: 0;
}

.separate {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
